.home {
    /* padding-top: 105px; */
    padding-top: 150px;

}

.frase {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.versiculo{
    color: #A8B1A6;
    font: 400 0.7rem "Roboto Slab", sans-serif;
   
}

.home::after{
    content: "";
    display: block;
    width: 200px;
    height: 123px;
    top: 0;
    background-image: url("../img/home-flores-e.png");
    position: absolute;
}



/* 
.home::before {
    content: "";
    display: block;
    width: 98px;
    height: 100px;
    top: 0;
    right: 0;
    background-image: url("../img/home-flores-d.png");
    position: absolute;
} */

/* .nomes, .frase, .horario {
    text-align: center;
} */

.frase {
    color: #303525;
}

.img-iniciais {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.img-iniciais img {
    padding-bottom:20px;
    width: 120px;
}

.nomes {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #808D7D;
    text-align: center;
}

.informacoes {
    position: relative;

}


.hora{
    text-align: center;

}

.hora p:first-child {
    padding-bottom: 10px;
    font-size: 1rem;
    color: #303525  ;
}

.hora p:last-child {
    color: white;
  background-color: #A8B1A6;
}

.horario {
      padding-top: 10px;
      color: #303525;
}



.horario p:last-child {
    padding-top: 5px;
}

.links {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #808D7D;


}

.flex {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.flex p {
    padding-top: 10px;
}